.header_h1{
    color: green;
    text-align: center;
}
.header_h2{
    color: lightblue;
    text-align: right;
}
h3{
    color: orange;
}
.paragraph{
    color: red;
    text-align: justify;
    display: block;
}
.paragraph2{
    color: blue;
    text-align: center;
}
img{
    height: 200px;
    width: auto;
}
.profile{
    margin: 0 auto;
    width: 350px;
    padding: 20px;

}
.profile_name{
    margin-top: 50px;
    margin-bottom: 20px;
    display: block;
    text-align: center;
    font-size: 20px;
}
.profile_img{
    display: block;
    margin: 0 auto;
}
.links{
    margin: 20px;
}
.links a{
    margin-right: 5px;
}